@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.navbar-toggler:focus{
  outline: none;
  box-shadow: none;
}
.navbar-toggler:active{
  background-color: blueviolet;
  color: white;
}
.logo{
  height: 50px;
  margin: 10px;
}
.btn:focus{
  border: none;
  outline: none;
  box-shadow: none;
}
.form-control{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-control:focus{
  border: 2px solid blueviolet;
  border-radius: 15px;
  outline: none;
  box-shadow: none;
}
.cbtn{
  color: white;
  background-color: #383CC1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Gen-Badge{
  margin: 30px;
}
.badge-card{
  
  /* color: white; */
  color: #242B2E;
}
.display-5{
  font-family: 'Lobster', cursive;  

}
.b-body {
  padding: 30px;
}
#Download{
  margin-top: 20px;
}